{{<layout}}{{$body}}
<main class="container">
    <section>
        <h1>Htmx Demo</h1>
        <div id="parent-div"></div>
        <button hx-get="/demo"
                hx-trigger="click"
                hx-target="#parent-div"
                hx-swap="outerHTML">
            Click Me!
        </button>
    </section>
</main>
{{/body}}
{{/layout}}
