<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title>Seneca War Eagles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="color-scheme" content="light dark"/>
    <script src="third-party/htmx.min.js" defer></script>
    <link href="css/out.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/favicon.png"/>
</head>
<body class="bg-white text-gray-900">
{{$body}}{{/body}}
</body>
</html>
